$color-background-primary: #edf2ec;
$color-background-light: #ffffff;

$color-text-nav: #544837;

$color-text: #544837;
$color-primary: #499a18;
$color-additional: #e06733;

$color-light: #ffffff;
$color-border: #d7d7d7;

$color-hovered: #bcd0e5;

$color-red: #f03e3d;

$content-width: 1440px;
$tablet-width: 768px;
$mobile-width: 380px;
