.footer {
  background: $color-background-light;
  padding: 60px 0 70px;
  font-size: 2rem;

  @include media-tablet {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  @include media-mobile {
    padding-top: 10px;
    padding-bottom: 5px;
  }
}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media-tablet {
    display: block;
    text-align: center;
  }

  @include media-mobile {
    display: block;
    text-align: center;
  }
}

.footer-navigation {
  flex-grow: 1;
  padding-left: 152px;
}

.footer-navigation__title {
  margin: 0 0 15px;
}

.footer-navigation__links {
  a {
    color: $color-text;
  }
}
