.footer {
  background: $color-background-light;
  padding: 60px 0 70px;
  font-size: 2rem;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-navigation {
  flex-grow: 1;
  padding-left: 152px;
}

.footer-navigation__title {
  margin: 0 0 15px;
}

.footer-navigation__links {
  a {
    color: $color-text;
  }
}
