.header {
  background: $color-background-primary;
  padding: 15px 0 17px 0;
  font-size: 2rem;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media-tablet {
    padding-left: 50px;
  }

  @include media-mobile {
    padding-left: 25px;
  }
}

.header__logo-line {
  display: flex;
}

.header__buttons {
  > .button {
    margin-left: 14px;
    &:first-child {
      margin-left: 14px;
      margin-left: 0;
    }
  }
}
