.button {
  padding: 11px 25px 13px;
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.2rem;
  cursor: pointer;
  border: none;

  &_bordered {
    background: $color-primary;
    color: $color-light;

    &:hover {
      background: #e7880b;
      border-color: $color-additional;
      border-radius: 4px;
    }
  }

  &_selected {
    color: $color-light;
    background: $color-additional;
    border: none;

    &:hover {
      background: #e7880b;
      border-color: $color-additional;
      border-radius: 4px;
    }
  }
}
