.button {
  padding: 11px 25px 13px;
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.2rem;
  cursor: pointer;
  border: none;

  &_bordered {
    background: $color-primary;
    color: $color-light;

    &:hover {
      background: #e7880b;
      border-color: $color-additional;
      border-radius: 4px;
    }
  }

  &_selected {
    color: $color-light;
    background: $color-additional;
    border: none;
    animation: shake 0.75s;

    &:hover {
      background: #e7880b;
      border-color: $color-additional;
      border-radius: 4px;
    }
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
