.about {
  background: $color-background-light;
  overflow: hidden;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media-tablet {
    display: block;
    margin-top: 50px;
  }

  @include media-mobile {
    display: block;
    margin-top: 50px;
  }
}

.about__content {
  padding-right: 65px;

  @include media-tablet {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include media-mobile {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.about__title {
  font-size: 3rem;
  margin: 0 0 30px;
  color: $color-primary;
  width: 400px;

  @include media-tablet {
    font-size: 3.5rem;
  }

  @include media-mobile {
    font-size: 2.5rem;
  }
}

.about_additional {
  margin: 0 0 30px;
  color: $color-additional;
}

.about__text {
  max-width: 487px;
  margin: 0 0 45px;
  line-height: 1.5;
  font-size: 2rem;

  @include media-tablet {
    font-size: 2rem;
  }

  @include media-mobile {
    font-size: 1.5rem;
  }
}

.about__buttons {
  display: flex;
  align-items: center;
  > * {
    margin-right: 44px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.about__image {
  text-align: center;
  padding-bottom: 30px;
}

.about__picture {
  @include media-tablet {
    width: 250px;
    height: 258px;
  }

  @include media-mobile {
    width: 150px;
    height: 147px;
  }
}
