.about {
  background: $color-background-light;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__content {
  padding-right: 65px;
}

.about__title {
  margin: 0 0 30px;
  color: $color-primary;
}

.about_additional {
  margin: 0 0 30px;
  color: $color-additional;
}

.about__text {
  max-width: 487px;
  margin: 0 0 45px;
  line-height: 1.5;
  font-size: 16px;
}

.about__buttons {
  display: flex;
  align-items: center;
  > * {
    margin-right: 44px;
    &:last-child {
      margin-right: 0;
    }
  }
}
