.navigation {
  display: flex;
  font-size: 1.5rem;
  line-height: 2.8rem;
}

.navigation__link {
  list-style: none;
  padding: 0 24px;
  cursor: pointer;
  text-decoration: none;

  a {
    text-decoration: none;
    color: $color-text-nav;
  }

  a:hover {
    color: $color-text-nav-hover;
  }
}
