.service {
  padding-top: 40px;
  background: $color-background-primary;
}

.service_block {
  padding-bottom: 30px;

  &_blured {
    filter: blur(40px);
    animation: shake 0.75s;
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.service__title {
  font-size: 3rem;
  margin: 0 0 30px;
  color: $color-primary;
}

.service__header {
  font-size: 3rem;
  color: $color-additional;
}

.service__text {
  font-size: 2rem;
}

.service_additional {
  margin: 0 0 30px;
  color: $color-additional;
}

.service__buttons {
  display: flex;

  @include media-mobile {
    display: block;
  }
}

.service__buttons__item {
  margin: 0 25px;
  padding-bottom: 30px;
}

// .service_image_block {
//   &_blured {
//     filter: blur(40px);
//   }
// }
