.welcome {
  background: $color-background-primary;
}

.welcome__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome__content {
  padding-right: 65px;
  width: 650px;
}

.welcome__title {
  margin: 0 0 0px;
  color: $color-text-nav;
  font-size: 45px;
}

.welcome__text {
  padding-top: 30px;
  max-width: 487px;
  margin: 0 0 45px;
  color: $color-text-nav;
  line-height: 1.5;
  font-size: 16px;
}

.welcome_colored {
  color: $color-primary;
}

.welcome__buttons {
  display: flex;
  align-items: center;
  > * {
    margin-right: 44px;
    &:last-child {
      margin-right: 0;
    }
  }
}
